@charset "UTF-8";
.no-scroll {
  overflow: hidden;
}

.header--photographer {
  padding-top: 42px;
  margin: 0 100px;
  max-width: 1440px;
}

.hero__header {
  margin-top: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 56px 50px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.hero__img {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.hero__img img {
  width: 526px;
  height: 358px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: -85px;
  transform: scale(0.65);
}
.hero__name {
  font-size: 64px;
  color: #D3573C;
}
.hero__city {
  font-size: 24px;
  color: #901C1C;
  margin-bottom: 19px;
}
.hero__tagline {
  font-size: 18px;
}

.encart {
  box-sizing: border-box;
  padding: 20px 30px 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: -21px;
  right: 36px;
  height: 89px;
  width: 376px;
  border-radius: 5px;
  background-color: #D3573C;
  font-size: 24px;
  font-weight: 500;
}
.encart span {
  font-size: 24px;
  color: black;
}

.divTri {
  justify-self: baseline;
}
.divTri label {
  font-size: 18px;
  font-weight: 700;
}

.sort__selector {
  position: relative;
  display: inline-block;
  font-size: 18px;
  border: none;
  padding: 23px 20px;
  background-color: #901C1C;
  border-radius: 5px;
  color: white;
}
.sort__selector select {
  appearance: none;
  /* Enlève l'apparence native du <select> */
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #a11a1a;
  /* Couleur de fond rouge */
  color: #fff;
  /* Couleur du texte blanche */
  border: none;
  border-radius: 8px;
  /* Coins arrondis */
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}
.sort__selector select::after {
  content: "▾";
  /* Chevron bas */
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  /* Empêche l'interaction avec le chevron */
  color: #fff;
  font-size: 14px;
}
.sort__selector select option:not(:last-child) {
  border-bottom: 1px solid white;
}

/*** MEDIAS ***/
.medias {
  display: flex;
  justify-content: center;
}

.medias-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 7.5%;
}

.item {
  width: -moz-fit-content;
  width: fit-content;
  height: 350px;
}
.item__media {
  border-radius: 5px;
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.item__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.item__description {
  display: none;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

#contact_modal {
  display: none;
  position: absolute;
  top: 70px;
  z-index: 9999;
  width: 46.5%;
}

.modal {
  border: none;
  border-radius: 5px;
  background-color: #DB8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal__header {
  justify-content: space-between;
  width: 100%;
}
.modal__closeBtn img {
  cursor: pointer;
}
.modal__title {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
.modal__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.modal__form label {
  color: #312E2E;
  font-size: 36px;
}
.modal__form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
.modal__form .input {
  border: none;
  border-radius: 5px;
  width: 100%;
}
.modal__form input {
  height: 68px;
}
.modal__form textarea {
  height: 100px;
}
.modal__form .invalid-feedback {
  display: none;
}

/***** LIGHTBOX ****/
.lightbox {
  border: none;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.lightbox__closeBtn span {
  color: #901C1C;
  font-size: 42px;
}
.lightbox__carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lightbox__nav span {
  font-size: 29px;
  color: #901C1C;
}
.lightbox__media img, .lightbox__media video {
  height: 900px;
  width: 1050px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 35%;
     object-position: 50% 35%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0 100px;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header--index {
  margin: 0 100px;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
}

a {
  display: flex;
  text-decoration: none;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  color: #901C1C;
  font-size: 36px;
}

.logo {
  height: 50px;
}

.photographer__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 317px;
  margin-top: 100px;
}
.photographer__section article {
  width: 200px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer__section article .photographer__TracyGalindo {
  height: 240px;
  width: 240px;
  bottom: -20px;
  left: 0;
}
.photographer__section article img {
  position: absolute;
  bottom: -110px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 526px;
  height: 358px;
}
.photographer__link {
  position: relative;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  border: 4px solid rgba(255, 255, 255, 0.25);
}
.photographer__infos {
  text-align: center;
}
.photographer__name {
  margin: 20px 0 0 0;
  text-overflow: visible;
  text-wrap: nowrap;
  color: #D3573C;
}
.photographer__location {
  font-size: 13px;
  color: #901C1C;
}
.photographer__tagline {
  font-size: 10px;
}
.photographer__price {
  font-size: 9px;
  color: #757575;
}/*# sourceMappingURL=style.css.map */